## Tuples

In [12]:
thistuples = ()
print(thistuples)

tuples = tuple()
print(tuples)

()
()

In [7]:
# Length

In [8]:
print(len(thistuples))

3

In [10]:
thistuples = ("apple",)
print(type(thistuples))

<class 'tuple'>

In [11]:
thistuples = ("apple")
print(type(thistuples))

<class 'str'>

In [13]:
# Access Tuples

In [14]:
thistuples = ("apple","banana","carrot")
print(thistuples)

('apple', 'banana', 'carrot')

In [15]:
print(thistuples[0])
print(thistuples[2])
print(thistuples[-1])

apple
carrot
carrot

In [16]:
print(thistuples[:2])

('apple', 'banana')

In [17]:
print(thistuples[1:2])

('banana',)

In [18]:
print(thistuples[:2])

('apple', 'banana')

In [19]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[-4:-1])

('orange', 'kiwi', 'melon')

In [20]:
thistuple = ("apple", "banana", "cherry")
if "apple" in thistuple:
    print("Yes, 'apple' is in the fruits tuple")

Yes, 'apple' is in the fruits tuple

In [21]:
### Update Tuples

In [22]:
x = ("apple","banana","cherry")
y = list(x)
y[1] = "melon"
x = tuple(y)
print(x)

('apple', 'melon', 'cherry')

In [23]:
x = ("apple","banana","cherry")
y = list(x)
y.remove("apple")
x = tuple(y)
print(x)

('banana', 'cherry')

In [27]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")
(green,yellow,*red) = fruits
print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

In [28]:
### loop tuples

In [29]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")
for i in fruits:
    print(i)

apple
banana
cherry
strawberry
raspberry

In [30]:
for i in range(0,len(fruits)):
    print(fruits[i])

apple
banana
cherry
strawberry
raspberry

In [31]:
### Join Tuples

In [32]:
tuples1 = ("a","b","c")
tuples2 = (1,2,3)
tuples3 = tuples1 + tuples2
print(tuples3)

('a', 'b', 'c', 1, 2, 3)

In [34]:
fruits =("apple","banana","mango")
mytuple = fruits * 2
print(mytuple)

('apple', 'banana', 'mango', 'apple', 'banana', 'mango')

In [37]:
fruits =("apple","banana","mango","apple")
print(fruits.index("apple"))
print(fruits.index("banana"))

0
1

In [38]:
print(fruits.count("apple"))

2