In [1]:
myset = {"apple","banana","orange"}
print(myset)

{'apple', 'orange', 'banana'}

In [2]:
print(type(myset))

<class 'set'>

In [3]:
myset = {"apple","banana","orange","apple"}
print(myset)

{'apple', 'orange', 'banana'}

In [4]:
print(len(myset))

3

In [5]:
thisSet = set(("apple","orange","banana"))
print(thisSet)

{'apple', 'orange', 'banana'}

### Set Item

In [6]:
for x in thisSet:
    print(x)

apple
orange
banana

In [7]:
print("banana" in thisSet)

True

In [8]:
### Add Set Items

In [9]:
thisSet.add('melon')
print(thisSet)

{'apple', 'orange', 'banana', 'melon'}

In [10]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

{'mango', 'banana', 'apple', 'papaya', 'cherry', 'pineapple'}

In [11]:
thissets = {"apple", "banana", "cherry"}
tropicals = ["pineapple", "mango", "papaya"]

thisset.update(tropicals)
print(thisset)

{'mango', 'banana', 'apple', 'papaya', 'cherry', 'pineapple'}

### Remove Set Items

In [12]:
thisset = {"apple","banana","cherry"}
thisset.remove("banana")
print(thisset)

{'apple', 'cherry'}

In [13]:
thisset = {"apple","banana","cherry"}
thisset.discard("banana")
print(thisset)

{'apple', 'cherry'}

In [14]:
thisset = {"apple","banana","cherry"}
x = thisset.pop()
print(x)
print(thisset)

apple
{'banana', 'cherry'}

In [15]:
thisset = {"apple","banana","cherry"}
thisset.clear()
print(thisset)

set()

In [16]:
# thisset = {"apple","banana","cherry"}
# del thisset
# print(thisset)

### Loop Sets

In [17]:
thisSet = {"apple","banana","cherry"}
for x in thisSet:
    print(x)

apple
banana
cherry

In [18]:
for i in range(0,len(thisSet)):
    try:
        print(thisSet[i])
    except Exception as e:
        print(e)

'set' object does not support indexing
'set' object does not support indexing
'set' object does not support indexing

In [19]:
set1 = {"a","b","c"}
set2 = {1,2,3}
set3 = set1.union(set2)
print(set3)

{1, 2, 3, 'a', 'c', 'b'}

In [20]:
set1.update(set2)
print(set1)

{1, 2, 3, 'a', 'c', 'b'}

In [21]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.intersection_update(y)
print(x)

{'apple'}

In [22]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

m =x.intersection(y)
print(m)

{'apple'}

In [23]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.symmetric_difference_update(y)
print(x)

{'banana', 'google', 'cherry', 'microsoft'}

In [24]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

m = x.symmetric_difference(y)
print(m)

{'google', 'cherry', 'microsoft', 'banana'}